.chatroom {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  margin: auto;
  color: #333;
  border-radius: 10px;
  overflow: hidden;

}
.chat-container {
  background-color: black !important;
 }
 
.chatroom-header {
  padding: 16px;
  background-color: #333;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.chatroom-header a {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #ffffff;
}
.chatroom-body {
  flex: 1;
  overflow: auto;
  padding: 16px;
}
.chatroom-footer {
  padding: 16px;
  background-color: #333;
  color: white;
}
.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
 }
 
 .message-container {
  display: flex;
  align-items: center;
  gap: 10px;
 }
 
 .user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }
 
 .message-content {
  display: flex;
  flex-direction: column;
 }
 
 .user-name {
  font-weight: bold;
  margin-bottom: 5px;
 }
 
 .message-text {
  margin-bottom: 5px;
 }
 
 .message-timestamp {
  font-size: 0.8em;
  color: #888;
 }
 