body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3b3b49;
    font-family: Arial, sans-serif;
  }
  
  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #59418e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .login__textBox {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login__btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
  }
  
  .login__btn:hover {
    opacity: 1;
  }
  
  .login__google {
    background-color: #dd4b39;
  }
  