/*===========================
    Layout
=============================
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    background-color: #29363f;
    color: #909090;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}



.container{
    width: 50vw;
    height: 70vh;
    max-width: 450px;
    max-height: 600px;
    min-width: 300px;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid hsla(0,0,0,0.9);
    margin-top: 4em;
    border-radius: 10px;
    padding: 0px;
    background-color: #353e44;
    box-shadow: rgba(50, 50, 93, 0.45) 1px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

/*
=========================
    Login Elements
=========================
*/

.login-message {
    width: 75%;
}

.login-box{
    padding-left:  0.75em;
    padding-top: 1.25em;
    padding-bottom: 1em;
    width: 75%;
    border-radius: 10px;
    border: 1px solid gray;
    margin-bottom: 1em;
    border: 0px;
}

.login-button{
    background-color: #6ed9a1;
    border: 0px;
    border-radius: 10px;
    width: 55%;
    margin-bottom: 0.5em;
    margin-top: 2.75em;
    padding: 1.5em;
    text-transform: uppercase;
}

.login-button:hover{
    background-color: #5ebf8d;
    cursor: pointer;
}

.login-reset-link{
    margin-bottom: 2em;
}



.login-reset-link:hover{
    cursor: pointer;
}

/*
====================
Typography
====================
*/

.login-box, .login-button {
    box-sizing: border-box;
}

.login-message, .login-box{
    color: rgb(94, 92, 92);
    font-weight: 400;
    font-size: 0.9rem;

}

.login-box[type="text"] {
    font-size: 0.9rem;
    box-shadow: rgba(50, 50, 93, 0.768) 1px 6px 12px -2px, rgba(0, 0, 0, 0.842) 0px 3px 7px -3px;;

}

.login-button{
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: rgba(50, 50, 93, 0.768) 1px 6px 12px -2px, rgba(0, 0, 0, 0.842) 0px 3px 7px -3px;;
}


.login-heading {
    font-size: 3.5rem;
    font-weight: 550;
    color: #6ed9a1;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.login-reset-link {
    font-size: 1rem;
    color: white;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    margin-top: 1em;
}


/**
=========================
    Icons and SVGS
=========================*/

.social-icons { 
    margin: 0.75em 0;
}

.social-icons a {
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.768) 1px 6px 12px -2px, rgba(0, 0, 0, 0.842) 0px 3px 7px -3px;;

}

.social-icons a:hover {
    background-color: rgb(208, 206, 206);
}


.responsive-background {
    display: flex;
    justify-content: center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%2329363f'%3E%3C/rect%3E%3Cpath d='M0 451L6.5 449.8C13 448.7 26 446.3 39 440C52 433.7 65 423.3 78 418.7C91 414 104 415 117.2 415.7C130.3 416.3 143.7 416.7 156.8 416.7C170 416.7 183 416.3 196 420.3C209 424.3 222 432.7 235 431.8C248 431 261 421 274 420.8C287 420.7 300 430.3 313 439.2C326 448 339 456 352 460.7C365 465.3 378 466.7 391 466.2C404 465.7 417 463.3 430.2 453C443.3 442.7 456.7 424.3 469.8 414.3C483 404.3 496 402.7 509 407C522 411.3 535 421.7 548 423C561 424.3 574 416.7 587 420.7C600 424.7 613 440.3 626 444.7C639 449 652 442 665 440.3C678 438.7 691 442.3 704 436.3C717 430.3 730 414.7 743.2 410.5C756.3 406.3 769.7 413.7 782.8 420.5C796 427.3 809 433.7 822 432C835 430.3 848 420.7 861 415.3C874 410 887 409 893.5 408.5L900 408L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%23189b65'%3E%3C/path%3E%3Cpath d='M0 465L6.5 467.5C13 470 26 475 39 473C52 471 65 462 78 460.3C91 458.7 104 464.3 117.2 467C130.3 469.7 143.7 469.3 156.8 466.7C170 464 183 459 196 452.2C209 445.3 222 436.7 235 432C248 427.3 261 426.7 274 435.5C287 444.3 300 462.7 313 472.7C326 482.7 339 484.3 352 483C365 481.7 378 477.3 391 471.5C404 465.7 417 458.3 430.2 450.7C443.3 443 456.7 435 469.8 439.8C483 444.7 496 462.3 509 466.5C522 470.7 535 461.3 548 452.2C561 443 574 434 587 438.2C600 442.3 613 459.7 626 462.7C639 465.7 652 454.3 665 445.7C678 437 691 431 704 429.2C717 427.3 730 429.7 743.2 438C756.3 446.3 769.7 460.7 782.8 461.7C796 462.7 809 450.3 822 449.2C835 448 848 458 861 462.2C874 466.3 887 464.7 893.5 463.8L900 463L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2307a762'%3E%3C/path%3E%3Cpath d='M0 455L6.5 455.8C13 456.7 26 458.3 39 461C52 463.7 65 467.3 78 472.7C91 478 104 485 117.2 480.8C130.3 476.7 143.7 461.3 156.8 461.8C170 462.3 183 478.7 196 479C209 479.3 222 463.7 235 461.5C248 459.3 261 470.7 274 476.8C287 483 300 484 313 480.2C326 476.3 339 467.7 352 463.8C365 460 378 461 391 459.8C404 458.7 417 455.3 430.2 461.8C443.3 468.3 456.7 484.7 469.8 492.5C483 500.3 496 499.7 509 498.7C522 497.7 535 496.3 548 493C561 489.7 574 484.3 587 484.2C600 484 613 489 626 488.5C639 488 652 482 665 473.5C678 465 691 454 704 448.7C717 443.3 730 443.7 743.2 449.5C756.3 455.3 769.7 466.7 782.8 468.8C796 471 809 464 822 459.8C835 455.7 848 454.3 861 453.8C874 453.3 887 453.7 893.5 453.8L900 454L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2300b25e'%3E%3C/path%3E%3Cpath d='M0 510L6.5 503.3C13 496.7 26 483.3 39 477.7C52 472 65 474 78 475.3C91 476.7 104 477.3 117.2 476.7C130.3 476 143.7 474 156.8 478.7C170 483.3 183 494.7 196 493.8C209 493 222 480 235 479.7C248 479.3 261 491.7 274 497.2C287 502.7 300 501.3 313 496.5C326 491.7 339 483.3 352 478C365 472.7 378 470.3 391 475.7C404 481 417 494 430.2 500.7C443.3 507.3 456.7 507.7 469.8 508.3C483 509 496 510 509 508.5C522 507 535 503 548 498C561 493 574 487 587 486.3C600 485.7 613 490.3 626 492.7C639 495 652 495 665 497.2C678 499.3 691 503.7 704 499C717 494.3 730 480.7 743.2 473.7C756.3 466.7 769.7 466.3 782.8 471.2C796 476 809 486 822 488.7C835 491.3 848 486.7 861 490.2C874 493.7 887 505.3 893.5 511.2L900 517L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2300bd58'%3E%3C/path%3E%3Cpath d='M0 520L6.5 519.2C13 518.3 26 516.7 39 516.7C52 516.7 65 518.3 78 514.5C91 510.7 104 501.3 117.2 499.8C130.3 498.3 143.7 504.7 156.8 507.3C170 510 183 509 196 512.2C209 515.3 222 522.7 235 525.7C248 528.7 261 527.3 274 523.3C287 519.3 300 512.7 313 510.8C326 509 339 512 352 509.3C365 506.7 378 498.3 391 495.3C404 492.3 417 494.7 430.2 499C443.3 503.3 456.7 509.7 469.8 509C483 508.3 496 500.7 509 498.5C522 496.3 535 499.7 548 506C561 512.3 574 521.7 587 525.7C600 529.7 613 528.3 626 526C639 523.7 652 520.3 665 520.2C678 520 691 523 704 522.2C717 521.3 730 516.7 743.2 516C756.3 515.3 769.7 518.7 782.8 517C796 515.3 809 508.7 822 509.7C835 510.7 848 519.3 861 519.8C874 520.3 887 512.7 893.5 508.8L900 505L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2300c94f'%3E%3C/path%3E%3Cpath d='M0 544L6.5 544.7C13 545.3 26 546.7 39 546.8C52 547 65 546 78 542.7C91 539.3 104 533.7 117.2 531.2C130.3 528.7 143.7 529.3 156.8 529.2C170 529 183 528 196 528.8C209 529.7 222 532.3 235 535.3C248 538.3 261 541.7 274 539.8C287 538 300 531 313 528.3C326 525.7 339 527.3 352 526.3C365 525.3 378 521.7 391 520.2C404 518.7 417 519.3 430.2 519.8C443.3 520.3 456.7 520.7 469.8 521.3C483 522 496 523 509 523C522 523 535 522 548 520.2C561 518.3 574 515.7 587 515.8C600 516 613 519 626 524.5C639 530 652 538 665 538C678 538 691 530 704 528.3C717 526.7 730 531.3 743.2 535C756.3 538.7 769.7 541.3 782.8 542.8C796 544.3 809 544.7 822 540.3C835 536 848 527 861 525.3C874 523.7 887 529.3 893.5 532.2L900 535L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2300d344'%3E%3C/path%3E%3Cpath d='M0 563L6.5 562.8C13 562.7 26 562.3 39 560.2C52 558 65 554 78 550.8C91 547.7 104 545.3 117.2 543.5C130.3 541.7 143.7 540.3 156.8 542C170 543.7 183 548.3 196 550.7C209 553 222 553 235 554.5C248 556 261 559 274 559.2C287 559.3 300 556.7 313 555.3C326 554 339 554 352 554.5C365 555 378 556 391 554.5C404 553 417 549 430.2 548.3C443.3 547.7 456.7 550.3 469.8 553C483 555.7 496 558.3 509 555.5C522 552.7 535 544.3 548 541.3C561 538.3 574 540.7 587 544.7C600 548.7 613 554.3 626 558.2C639 562 652 564 665 564.7C678 565.3 691 564.7 704 560.7C717 556.7 730 549.3 743.2 546.3C756.3 543.3 769.7 544.7 782.8 547.7C796 550.7 809 555.3 822 557.3C835 559.3 848 558.7 861 555.2C874 551.7 887 545.3 893.5 542.2L900 539L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2300de33'%3E%3C/path%3E%3Cpath d='M0 574L6.5 571.7C13 569.3 26 564.7 39 563.8C52 563 65 566 78 569.7C91 573.3 104 577.7 117.2 580C130.3 582.3 143.7 582.7 156.8 583.2C170 583.7 183 584.3 196 580.3C209 576.3 222 567.7 235 566.2C248 564.7 261 570.3 274 571.3C287 572.3 300 568.7 313 566.5C326 564.3 339 563.7 352 564C365 564.3 378 565.7 391 567.3C404 569 417 571 430.2 573C443.3 575 456.7 577 469.8 575.3C483 573.7 496 568.3 509 567.7C522 567 535 571 548 570.8C561 570.7 574 566.3 587 567.2C600 568 613 574 626 574C639 574 652 568 665 567.5C678 567 691 572 704 573C717 574 730 571 743.2 571C756.3 571 769.7 574 782.8 575.5C796 577 809 577 822 576.2C835 575.3 848 573.7 861 574C874 574.3 887 576.7 893.5 577.8L900 579L900 601L893.5 601C887 601 874 601 861 601C848 601 835 601 822 601C809 601 796 601 782.8 601C769.7 601 756.3 601 743.2 601C730 601 717 601 704 601C691 601 678 601 665 601C652 601 639 601 626 601C613 601 600 601 587 601C574 601 561 601 548 601C535 601 522 601 509 601C496 601 483 601 469.8 601C456.7 601 443.3 601 430.2 601C417 601 404 601 391 601C378 601 365 601 352 601C339 601 326 601 313 601C300 601 287 601 274 601C261 601 248 601 235 601C222 601 209 601 196 601C183 601 170 601 156.8 601C143.7 601 130.3 601 117.2 601C104 601 91 601 78 601C65 601 52 601 39 601C26 601 13 601 6.5 601L0 601Z' fill='%2316e916'%3E%3C/path%3E%3C/svg%3E");
; /* Your SVG code here */
    background-repeat: no-repeat;
    background-size: cover; /* or use 'contain' based on your preference */
    background-position: center;
    width: 100vw; /* Adjust these values as needed */
    height: 100vh; /* This is just an example */
}
