#rooms {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #ffffff; 
    margin: 25px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  #rooms thead tr {
    background-color: #59418e;
  }
  
  #rooms th,
  #rooms td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  #rooms tbody tr:hover {
    background-color: #410c0c;
  }
  
  .join-button {
    background-color: #59418e;
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #map {
    height: 700px;
    width: 700px;
    margin-right: 0px;
    position: fixed;
    top: 20%;
    right: 0;
   }
   
