.chatroom {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 98vw;
  margin: auto;
  color: #333;
  border-radius: 10px;
  z-index: 3;
  margin: 1vw;
}

.chatroom-body{
  z-index: 1;
}
@media screen and (max-width: 767px) {
  #sidebar {
      display: none;
  }
}

 
.chatroom-header {
  color: white;
  font-size: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatroom-header a {
  position: absolute;
  left: 10px;
  top: 10px;
}
.chatroom-body {
  flex: 1;
  overflow: auto;
  z-index: -1;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  z-index: 1;
 }
 
 .message-container {
     position: relative;
     z-index: 1;
    display: flex;
    align-items: center;
    gap: 10px;
 }
 
 .user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }
 
 .message-content {
  display: flex;
  flex-direction: column;
  
 }
 .message-text{
  width: 80vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
 }
 
 .user-name {
  font-weight: bold;
  margin-bottom: 5px;
 }
 
 .message-text {
  margin-bottom: 5px;
 }
 
 .message-timestamp {
  font-size: 0.8em;
  color: #888;
 }
 
 .sidebar #rooms tr {
   width: 10%;
   color: white;
   padding: 0em;
 }

 .sidebar #rooms td {
  font-weight: 500;
 }

 .sidebar #rooms th, .sidebar #rooms td {
  padding: 0px 0px; /* Reduced padding */
  font-size: 0.9rem; /* Adjusted font size for smaller text */
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.mainContainer {
  border: none;
}

.center-room- #rooms {
  width: 20vw;
  min-width: 350px;
  max-width: 700px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 25px 0; /* You can adjust this if needed */
  height: 50vh; /* Adjust based on content, but allows for flexibility */
}

.center-room- #rooms tbody{
  max-height: 40vh; /* Adjusted to control visible area */
  overflow-y: auto; /* Enables scrolling for overflow content */
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-room- #rooms th {
  color: white; /* Sets text color to white */
  font-weight: 800;
  text-align: center;
}

.center-room- #rooms th:first-child{
  text-align: left;
}

.mainContainer{
  background-color: red;
}
.center-room- #rooms td {
  font-weight: 800;
  text-align: left;
  background-color: #29363f;
}
  .center-room-{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #29363f;
  }
  .center-room- #rooms th,
  .center-room- #rooms td {
    border-bottom: 1px solid #ddd;
    padding-left: 2em
  }

  .center-room- #rooms th:first-child{
    border-radius:10px 0 0 0px;
    background-color: #6ed9a1;
  }

  .center-room- #rooms th:nth-child(2){
    border-radius:0 10px 0 0px;
    background-color: #6ed9a1;
  }
  .center-room- .create-room-button{
    background-color: #6ed9a1;
    border: 0px;
    border-radius: 10px;
    width: 55%;
    margin-bottom: 0.75em;
    margin-top: 0.25em;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    font-weight: 500;
  }

  .center-room- .join-button {
    background-color: #6ed9a1;
    color: #ffffff; 
    border: none;
    padding: 0.25em;
    width: 95%;
    text-align: center !important;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 500;
  }

  #rooms{
    background-color: #29363f;
  }

  .join-button:hover{
    background-color: #5af0a2;
    cursor:pointer;
  }

  #map {
    min-width: 300px;
    width: 70vw;
    position: fixed;
    top: 20%;
    right: 0;
   }
   .center-room{
    display: flex;
    align-items: center;
    justify-content: center;
   }
    .center-room- .map-container{
    width: 40vw;
    height: 40vh;
    max-width: 500px;
    min-width: 345px;
    margin: 0;
    padding: 0;
   }

   @media screen and (max-width: 800px) {
    .center-room- #rooms{
      display:none;
    }

    .center-room- .create-room-button{
      display:none;
    }

    .center-room- .map-container{
      display:none;
    }
   }

   @media screen and (max-width: 500px) {
    .center-room-  td:nth-child(2){
      padding-right: 12em;
    }
  
    .center-room- #rooms th:first-child{
      padding-left: 1.5em;
    }
  
    .center-room- #rooms th:nth-child(2){
      padding-left: 0.75em;
    }
  }
