/* chat-room.css */
.chat-room {
  max-width: fit-content;
  margin: 0 auto;
  padding: 100px;
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #6ed9a1;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

button {
  background-color: #3b3b49;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body {
  font-family: "Roboto", sans-serif;
}
.slider-value {
  font-size: 14px;
}
input[type="range"] {
  /* Change the color of the track to black */
  background-color: #3B3B49;
}

input[type="range"]::-webkit-slider-thumb {
  /* Change the color of the thumb to black (for Webkit browsers like Chrome) */
  background-color: #3B3B49;
}

input[type="range"]::-moz-range-thumb {
  /* Change the color of the thumb to black (for Firefox) */
  background-color: #3B3B49;
}
.bold-text {
  font-weight: bold;
}
/* Hide the map on smaller screens */
.map-container {
  display: none;
}

/* Show the map on screens wider than 768 pixels */
@media (min-width: 768px) {
  .map-container {
    display: block;
  }
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 600px;
  left: 600px;
  margin: 12px;
  border-radius: 4px;
}