.friend-requests {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.friend-requests h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.container-request-friends {
    width: 90vw;
    height: 20vh;
    min-width: 300px;
    min-height: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid hsla(0, 0, 0, 0.9);
    margin-top: 4em;
    border-radius: 10px;
    padding: 0px;
    background-color: #353e44;
    ;
}

.header-requests {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 550;
    color: #6ed9a1;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.accept-friend,
.decline-friend {
    background-color: #6ed9a1;
    border: 0px;
    border-radius: 10px;
    width: 55%;
    padding: 1.0em;
    text-transform: uppercase;
    cursor: pointer;
    color:white;
    font-weight: 600;
    margin: 0.5em;
}

.button-holder{
    display:flex;
}

.accept-friend:hover,.decline-friend:hover{
    background-color: #5ebf8d;
    cursor: pointer;
}
.no-requests-msg {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 550;
    color: #6ed9a1;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.friend-requests ul {
    list-style: none;
    padding: 0;
}

.no-requests {
    margin-bottom: 15em;
}

.find-room {
    color: white;
}



.friend-requests li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-requests li p {
    margin: 0;
    font-size: 18px;
    color: #666;
}

.friend-requests button {
    padding: 6px 12px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.friend-requests button:nth-child(2) {
    margin-left: 10px;
}

.friend-requests button.accept {
    background-color: #4CAF50;
}

.friend-requests button.decline {
    background-color: #f44336;
}

.friend-requests button:hover {
    opacity: 0.8;
}

.find-room:hover {
    background-color: #53fba5 !important;
}

@media screen and (max-width: 400px) {
    .no-requests-msg {
        font-size: 2.75rem
    }

    .no-requests {
        margin-bottom: 10em;
    }
}