@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap");

.header {
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em; 
  text-align: left;
  color: #6ed9a1;
  cursor:pointer;
}


#hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  margin-right: 0.75em
 }
 
