* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*
======================
  Header/Navbar
======================
*/
.brand-title {
  font-size: 2rem;
  margin-left: 0.5em;
  color: white;
  font-weight: 600;
  z-index: 1000;
  position: relative;
}

.navbar {
  margin-top: 1.75em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%; /* This should be 100%, not 100vh */
  padding-left: 1em; /* Add some padding if needed */
  padding-right: 1em;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style-type: none;
}


.links {
  text-decoration: none;
  padding: 0.5em;
  display: block;
  color: white;
  font-size: 1.25rem;

}

.links:hover {
  color: gray;
}

/*
=================================
  Main Content of Home Page
=================================
*/

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  position: relative;
  top: -8em;
}

.slogan {
  color: #6ed9a1;
  width: 100%;
  min-width: 300px;
  font-size: 5rem;
  font-weight: 600;
}

.info {
  color: white;
  width: 80%;
  line-height: 1.5em;
  font-size: 1.25rem;
  font-weight: 400;
}

.btn-learn-more {
  color: white;
  background-color: #6ed9a1;
  border: 0;
  border-radius: 15px;
  padding: 0.75em 2.75em;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn-learn-more:hover {
  background-color: #46ab77;
  cursor: pointer;
}

/*
==========================
  Media Queries
==========================
*/

@media screen and (max-width: 420px) {
  .slogan {
      font-size: 4rem;
  }

  .info {
      font-size: 1.25rem;
      width: 90%;
  }

  .content {
      top: -5em;
  }

  .links {
      font-size: 0.5rem;
      margin-left: 0.15em;
  }

  .brand-title {
      font-size: 1.5rem;
  }
}

@media screen and (max-height: 650px) {
  .navbar {
      margin-bottom: 5em;
  }
}

@media screen and (min-width: 600px) {
  .info {
      width: 60%;
      font-size: 1.5rem;
  }

  .btn-learn-more {
      padding: 1.25em 5em;
      font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .slogan {
      font-size: 3.75rem;
  }
}




/*
=====================
  SVG Background
=====================
*/
.responsive-background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%2329363f'%3E%3C/rect%3E%3Cpath d='M0 473L10.7 461.8C21.3 450.7 42.7 428.3 64.2 420.7C85.7 413 107.3 420 128.8 425.2C150.3 430.3 171.7 433.7 193 433.2C214.3 432.7 235.7 428.3 257 426.3C278.3 424.3 299.7 424.7 321.2 423.8C342.7 423 364.3 421 385.8 410.5C407.3 400 428.7 381 450 384C471.3 387 492.7 412 514.2 416.3C535.7 420.7 557.3 404.3 578.8 393.2C600.3 382 621.7 376 643 390.7C664.3 405.3 685.7 440.7 707 454.5C728.3 468.3 749.7 460.7 771.2 440.2C792.7 419.7 814.3 386.3 835.8 375.8C857.3 365.3 878.7 377.7 889.3 383.8L900 390L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%23179c4f'%3E%3C/path%3E%3Cpath d='M0 480L10.7 460.8C21.3 441.7 42.7 403.3 64.2 393.2C85.7 383 107.3 401 128.8 413.7C150.3 426.3 171.7 433.7 193 435.5C214.3 437.3 235.7 433.7 257 427.5C278.3 421.3 299.7 412.7 321.2 415C342.7 417.3 364.3 430.7 385.8 438.2C407.3 445.7 428.7 447.3 450 445.8C471.3 444.3 492.7 439.7 514.2 440.7C535.7 441.7 557.3 448.3 578.8 438.7C600.3 429 621.7 403 643 398.5C664.3 394 685.7 411 707 408.8C728.3 406.7 749.7 385.3 771.2 375.3C792.7 365.3 814.3 366.7 835.8 367.8C857.3 369 878.7 370 889.3 370.5L900 371L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%230fa64d'%3E%3C/path%3E%3Cpath d='M0 391L10.7 397.7C21.3 404.3 42.7 417.7 64.2 430.7C85.7 443.7 107.3 456.3 128.8 466.3C150.3 476.3 171.7 483.7 193 480.8C214.3 478 235.7 465 257 462.8C278.3 460.7 299.7 469.3 321.2 475.7C342.7 482 364.3 486 385.8 487.7C407.3 489.3 428.7 488.7 450 472C471.3 455.3 492.7 422.7 514.2 408.5C535.7 394.3 557.3 398.7 578.8 418.3C600.3 438 621.7 473 643 474.3C664.3 475.7 685.7 443.3 707 424.2C728.3 405 749.7 399 771.2 408.8C792.7 418.7 814.3 444.3 835.8 456C857.3 467.7 878.7 465.3 889.3 464.2L900 463L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2307af4b'%3E%3C/path%3E%3Cpath d='M0 422L10.7 438.5C21.3 455 42.7 488 64.2 490.8C85.7 493.7 107.3 466.3 128.8 458.3C150.3 450.3 171.7 461.7 193 465.8C214.3 470 235.7 467 257 468C278.3 469 299.7 474 321.2 465.7C342.7 457.3 364.3 435.7 385.8 432.7C407.3 429.7 428.7 445.3 450 451.7C471.3 458 492.7 455 514.2 462.5C535.7 470 557.3 488 578.8 480.8C600.3 473.7 621.7 441.3 643 438.2C664.3 435 685.7 461 707 476.7C728.3 492.3 749.7 497.7 771.2 493.3C792.7 489 814.3 475 835.8 471C857.3 467 878.7 473 889.3 476L900 479L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2301b948'%3E%3C/path%3E%3Cpath d='M0 512L10.7 503.2C21.3 494.3 42.7 476.7 64.2 475.7C85.7 474.7 107.3 490.3 128.8 493.5C150.3 496.7 171.7 487.3 193 491.7C214.3 496 235.7 514 257 517.2C278.3 520.3 299.7 508.7 321.2 497.7C342.7 486.7 364.3 476.3 385.8 479.8C407.3 483.3 428.7 500.7 450 508C471.3 515.3 492.7 512.7 514.2 509.8C535.7 507 557.3 504 578.8 498.5C600.3 493 621.7 485 643 477.2C664.3 469.3 685.7 461.7 707 461.5C728.3 461.3 749.7 468.7 771.2 469.7C792.7 470.7 814.3 465.3 835.8 472.3C857.3 479.3 878.7 498.7 889.3 508.3L900 518L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2300c244'%3E%3C/path%3E%3Cpath d='M0 507L10.7 509.8C21.3 512.7 42.7 518.3 64.2 510.3C85.7 502.3 107.3 480.7 128.8 481.5C150.3 482.3 171.7 505.7 193 515.5C214.3 525.3 235.7 521.7 257 514.8C278.3 508 299.7 498 321.2 497.3C342.7 496.7 364.3 505.3 385.8 504.2C407.3 503 428.7 492 450 492.8C471.3 493.7 492.7 506.3 514.2 515.8C535.7 525.3 557.3 531.7 578.8 525.5C600.3 519.3 621.7 500.7 643 491.2C664.3 481.7 685.7 481.3 707 482.2C728.3 483 749.7 485 771.2 485.5C792.7 486 814.3 485 835.8 494.2C857.3 503.3 878.7 522.7 889.3 532.3L900 542L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2300cc3e'%3E%3C/path%3E%3Cpath d='M0 516L10.7 522.8C21.3 529.7 42.7 543.3 64.2 545.2C85.7 547 107.3 537 128.8 524.8C150.3 512.7 171.7 498.3 193 495.8C214.3 493.3 235.7 502.7 257 502.2C278.3 501.7 299.7 491.3 321.2 486.5C342.7 481.7 364.3 482.3 385.8 482.5C407.3 482.7 428.7 482.3 450 493.3C471.3 504.3 492.7 526.7 514.2 536.2C535.7 545.7 557.3 542.3 578.8 533.3C600.3 524.3 621.7 509.7 643 500.5C664.3 491.3 685.7 487.7 707 488.8C728.3 490 749.7 496 771.2 504.7C792.7 513.3 814.3 524.7 835.8 531.2C857.3 537.7 878.7 539.3 889.3 540.2L900 541L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2300d637'%3E%3C/path%3E%3Cpath d='M0 552L10.7 546.3C21.3 540.7 42.7 529.3 64.2 530.2C85.7 531 107.3 544 128.8 550.2C150.3 556.3 171.7 555.7 193 551.7C214.3 547.7 235.7 540.3 257 532.3C278.3 524.3 299.7 515.7 321.2 514C342.7 512.3 364.3 517.7 385.8 518.2C407.3 518.7 428.7 514.3 450 518.7C471.3 523 492.7 536 514.2 544.2C535.7 552.3 557.3 555.7 578.8 548.3C600.3 541 621.7 523 643 523C664.3 523 685.7 541 707 544.5C728.3 548 749.7 537 771.2 535.5C792.7 534 814.3 542 835.8 542.2C857.3 542.3 878.7 534.7 889.3 530.8L900 527L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2300df2e'%3E%3C/path%3E%3Cpath d='M0 529L10.7 532.7C21.3 536.3 42.7 543.7 64.2 544.5C85.7 545.3 107.3 539.7 128.8 543.7C150.3 547.7 171.7 561.3 193 567C214.3 572.7 235.7 570.3 257 563C278.3 555.7 299.7 543.3 321.2 543.5C342.7 543.7 364.3 556.3 385.8 564.3C407.3 572.3 428.7 575.7 450 575.5C471.3 575.3 492.7 571.7 514.2 566.2C535.7 560.7 557.3 553.3 578.8 547.2C600.3 541 621.7 536 643 541.3C664.3 546.7 685.7 562.3 707 562.7C728.3 563 749.7 548 771.2 541C792.7 534 814.3 535 835.8 541.7C857.3 548.3 878.7 560.7 889.3 566.8L900 573L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2300e920'%3E%3C/path%3E%3Cpath d='M0 567L10.7 565.5C21.3 564 42.7 561 64.2 561.5C85.7 562 107.3 566 128.8 567C150.3 568 171.7 566 193 566.7C214.3 567.3 235.7 570.7 257 571C278.3 571.3 299.7 568.7 321.2 566C342.7 563.3 364.3 560.7 385.8 561.3C407.3 562 428.7 566 450 570.3C471.3 574.7 492.7 579.3 514.2 576.7C535.7 574 557.3 564 578.8 561.5C600.3 559 621.7 564 643 568.2C664.3 572.3 685.7 575.7 707 577.8C728.3 580 749.7 581 771.2 579.2C792.7 577.3 814.3 572.7 835.8 567.8C857.3 563 878.7 558 889.3 555.5L900 553L900 601L889.3 601C878.7 601 857.3 601 835.8 601C814.3 601 792.7 601 771.2 601C749.7 601 728.3 601 707 601C685.7 601 664.3 601 643 601C621.7 601 600.3 601 578.8 601C557.3 601 535.7 601 514.2 601C492.7 601 471.3 601 450 601C428.7 601 407.3 601 385.8 601C364.3 601 342.7 601 321.2 601C299.7 601 278.3 601 257 601C235.7 601 214.3 601 193 601C171.7 601 150.3 601 128.8 601C107.3 601 85.7 601 64.2 601C42.7 601 21.3 601 10.7 601L0 601Z' fill='%2304f304'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  /* or use 'contain' based on your preference */
  background-position: center;
  width: 100%;
  /* Adjust these values as needed */
  height: 100vh;
  /* This is just an example */
}

/*
==========================
  Key Frames
==========================
*/

@keyframes slide-down {
  from {
      transform: translateY(-200px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slide-up {
  from {
      transform: translateY(200px);
      opacity: 0;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes phase-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.phase-in {
  opacity: 0;
  animation: phase-in;
  animation-delay: 3s;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.slogan {
  opacity: 0;
  animation-name: slide-down;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.info {
  opacity: 0;
  animation-name: slide-up;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}