.menu-container {
    position: relative;
    z-index: 1000;
}

.menu-button {
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
}

.menu {
    background-color: #3B3B49;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index: 10000;
}

.menu button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
}

.menu button:hover {
    background-color: #e0e0e0;
}
/* Red notification badge for the notification class overlapping the open menu button */
.notification {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2.5px;
    z-index: 1000;
}

.friendButton {
    background-color: #3B3B49;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}


.friendButton button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    z-index: 1000;
}

.friendButton button:hover {
    background-color: #e0e0e0;
}

.friendButton span {
    position: relative;
    z-index: 1000;
}

.friendButton span.badge {
    position: absolute;
    top: 12;
    right: 0;
    margin: 3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2.5px;
    z-index: 1000;
}
