.menu-container {
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.menu button:hover {
    background-color: #e0e0e0;
}