#close-button, #add-friend{
    background-color: #6ed9a1;
    border: 0px;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 0.5em;
    margin-top: 1.75em;
    padding: 0.5em;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    font-weight: 500;
    box-shadow: rgba(172, 172, 174, 0.664) 0px 4px 8px 0px;
}


#add-profile{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 32.5vw;
}

#profile-popup-body{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}

#profile-popup-header{
    margin: 0.25em;
    color: #6ed9a1;
}


#add-friend{
    width: 60%;
}

#add-friend:hover, #close-button:hover{
    background-color: #74f2b1;
    cursor: pointer;
}